/* You can add global styles to this file, and also import other style files */
section{
    padding: 30px;
    margin-top:70px;
    /* background: #eceeef;
    height: 100vh; */
}

.page-header{
    margin-bottom: 40px;
}