<section *ngIf="content">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{content.title}}
      </h3>
      <span class="date">
        {{content.date | date:"yyyy/MM/dd"}}
      </span>
    </div>

    <div class="panel-body">
      <div class="text-right">
        ID : {{content.userId}}
      </div>
      {{content.text}}
    </div>
  </div>

  <div class="text-center">

    <a routerLink="/contents-list" class="btn btn-default">
      목록으로
    </a>

    <a [hidden]="!isWritter" routerLink="/edit/{{content._id}}" class="btn btn-warning">
      수정 / 삭제 하기
    </a>

  </div>

</section>
