<section *ngIf="content">
  <div class="card">
    <div class="card-header">
      <h3 >
        {{content.title}}
      </h3>
      <span class="date">
        {{content.date | date:"yyyy/MM/dd"}} 
      </span>
      <span class="text-right text-muted">
       | 작성자 : {{content.userId}}
      </span>
    </div>

    <div class="card-body">
      {{content.text}}
    </div>
  </div>

  <div class="text-center">

    <a routerLink="/contents-list" role="button" class="btn btn-secondary">
      목록으로
    </a>

    <a [hidden]="!isWritter" role="button" routerLink="/edit/{{content._id}}" class="btn btn-warning">
      수정 / 삭제 하기
    </a>

  </div>

</section>
