<section>
    <div class="page-header">
      <h1>Login
        <small>로그인</small>
      </h1>
    </div>
  
    <div class="row">
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">
            <span class="glyphicon glyphicon-user"></span>
          </span>
          <input type="text" class="form-control" 
                  placeholder="아이디"
                  required
                  [(ngModel)]="loginModel.userId" name="userId"
                  #userId="ngModel"
          >
        </div>

        <div [hidden]="userId.valid || userId.pristine">
          아이디를 입력해주세요.
        </div>
    
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">
            <span class="glyphicon glyphicon-lock"></span>
          </span>
          <input type="password" class="form-control" 
                  placeholder="비밀번호" 
                  aria-describedby="sizing-addon2"
                  required
                  [(ngModel)]="loginModel.password" name="password"
                  #password="ngModel"
          >
        </div>
    
        <div class="text-center" role="group" aria-label="...">
          <button type="submit" class="btn btn-primary btn-lg btn-block"
                  [disabled]="!loginForm.form.valid"
          >
            로그인
          </button>
        </div>
      </form> 
    </div>
  
  </section>
  