<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">메인으로</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/contents-list">
            글 목록
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/top-five">
            키워드 Top 5
          </a>
        </li>
        <li class="nav-item" [hidden]="!userData">
          <a class="nav-link" routerLink="/post">
            새 글 등록
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
            Disabled
          </a>
        </li> -->
      </ul>

      <span class="navbar-text">
        <span *ngIf="userData">
          {{userData?.userId}} 님, 환영합니다 !
        </span>
        <form class="container-fluid justify-content-start">
          <button *ngIf="!userData" routerLink="/join" class="btn btn-sm btn-outline-secondary" type="button">
            Join
          </button>
          <button *ngIf="userData" (click)="onLogout()" class="btn btn-sm btn-outline-secondary" type="button">
            Logout
          </button>
          <button *ngIf="!userData" routerLink="/login" class="btn btn-sm btn-outline-success" type="button">
            Login
          </button>
        </form>
      </span>

    </div>
  </div>

  <!--
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="/">메인으로 </a>
        </li>
        <li>
          <a routerLink="/contents-list">글 목록</a>
        </li>
        <li>
          <a routerLink="/top-five">키워드 Top 5</a>
        </li>
        <li [hidden]="!userData">
          <a routerLink="/post">새 글 등록</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="userData">
            <a class="text-success">
              <span class="glyphicon glyphicon-user"></span>
              {{userData?.userId}} 님, 환영합니다 !
            </a>  
        </li>
        <li *ngIf="!userData"><a routerLink="/join">Join </a></li>
        <li  *ngIf="!userData"><a routerLink="/login">Login</a></li>
        <li *ngIf="userData"><a (click)="onLogout()">Logout</a></li>
      </ul>

    
    </div> 
  </div> 
 -->
</nav>

<router-outlet></router-outlet>
