<section>
    <h1 class="page-header">Study Project 👾 </h1>
    <!-- <img src={{image}} alt=""> -->

    <div class="panel panel-default">
        <div class="panel-body">
            <ul>
                <li>
                    사용자 인증
                    <ul>
                        <li>회원가입, 로그인, 로그아웃</li>
                    </ul>
                </li>
                <li>
                    콘텐츠 관리(블로그 post)
                    <ul>
                        <li>조회, 등록, 갱신, 삭제</li>
                    </ul>
                </li>
                <li>
                    전체 콘텐츠 키워드 TOP 5
                </li>
            </ul>
        </div>
    </div>
    
</section>